:root {
  --black: #000;
  --blue500: #0d6efd;
  --gray400: #2f2f2f;
  --white: #fff;

  --bg: var(--white);
  --bg-card-1: var(--white);
  --bg-options: var(--white);

  --bg-menu: var(--white);
  --color-menu: #121212;

  --color-card-1: #000;
  --color-title-card: #000;
  --color-subtitle-card: #8d8d8d;
  --color-legend-card: #3c3c3c;

  --bg-skeleton: #eee;
  --gradient-skeleton: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);

  --bg-button-add: #0cb853;

  --border-button: rgb(217, 217, 217);
  --bg-button: transparent;
  --color-button: #000;

  --color: #010101;

  --bg-search-item: #f3f3f3;

  --bg-leaflet: #e4e4e4;

  --input-bg: var(--white);
  --input-border: rgb(217, 217, 217);
  --input-color: var(--black);
  --input-color-disabled: #f6f6f6;
  --input-item-bg: #efefef;
  --input-item-bg-disabled: #dbdbdb;
  --input-item-color: #434343;
  --input-border-color: rgb(217, 217, 217);
  --input-switch-bg: #d9d9d9;
  --input-switch-ball-unchecked: #feffff;

  --bg-button-trasparent: #fff;
  --color-button-transparent: #010101;

  --bg-context-list:rgb(253, 253, 253);
  --color-context-item:rgb(63, 63, 63);
  --hover-context-item:rgb(14, 14, 14);

  --color-label: rgb(63, 63, 63);
}

html[theme='dark'] {
  --bg: #232323;
  --bg-card-1: #3a3a3a;
  --bg-options: #535353;

  --bg-menu: #232323;
  --color-menu: #e3e3e3;

  --color-card-1: #f3f3f3;
  --color-title-card: #f9f9f9;
  --color-subtitle-card: #b4b4b4;
  --color-legend-card:rgb(204, 204, 204);

  --bg-skeleton: #4c4c4c;
  --gradient-skeleton: linear-gradient(110deg, #5e5e5e 8%, #7a7a7a 18%, #5e5e5e 33%);

  --bg-button-add:#5e5e5e;

  --border-button: rgb(70, 70, 70);
  --bg-button: #505050;
  --color-button: #e9e9e9;

  --color: #f8f8f8;

  --bg-search-item: #484848;

  --bg-leaflet: #3a3a3a;

  --input-bg: #4c4c4c;
  --input-border: #3f3f3f;
  --input-color: var(--white);
  --input-color-disabled:rgb(49 49 49);
  --input-item-bg: #616161;
  --input-item-bg-disabled: #3f3f3f;
  --input-item-color: #cdcdcd;
  --input-border-color: #505050;
  --input-switch-bg: #505050;
  --input-switch-ball-unchecked: #f1f1f1;

  --color-button-transparent: #efefef;
  --bg-button-trasparent: #474747; 

  --bg-context-list: #4a4a4a;
  --color-context-item: #cecece;
  --hover-context-item: #f9f9f9;

  --color-label: #4a4a4a;
}

html[theme='dark'] input[type='date'] {
  color-scheme: dark;
}

body {
  background: var(--bg);
  color: var(--color);
}

* {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  margin: 0;
}

.collapsing {
  height: 0px;
  transition: height 0.35s ease;
  overflow: hidden;
}


.leaflet-container {
  background: var(--bg-leaflet);
}